{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div clas="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center displa-3 py-5">Tasks Pending</h1>

<ul class="list-group">
    {% for tasks in Task %}
    <a class="list-group-item" href="{% url 'task_detail' task.id %}">
            <header class="d-flex justify-content-between">
                {% if task.important %}
                <h1 class="fw-bold text-success">{{task.title}}</h1>
                {% else %}
                <h1 class="fw-bold">{{task.title}}</h1>
                {% endif %}
                <p>{{task.user.username}}</p>
            </hader>
            
            <p>{{task.description}}</p>
            <p>{{task.user.username}}</p>

            <p>{{task.datecompleted|date:'M j Y:i'}}</p>
    </a>
    {% endfor %}
</ul>
        </div>    
    </div>
</main>

{% endblock %}